# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# dotenv environment variables file
.env

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.gitguardian.yml
.cache_ggshield
.DS_Store
